/* Half of what was in the e-learning course was not working when I was building my website so
I chose on purpose not to use the different components section (as no one was responding to students
on the forum section of our course). Also, my TypeForm link doesn't work in my code while I have
followed every single step of what is in the video. I've done my best asking question and watching
videos but I couldn't manage to make it work. I hope you will understand. */


@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@400;500&display=swap");

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
	background-color: rgba(46, 87, 67, 0.4);
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
}


a{
	text-decoration: none;
}


/* CONTAINER DESIGN */

.container {
	width: 700px;
	margin: 0 auto;}

	@media (max-width: 760px) {
.container {
	width: 600px;
	}	
}

@media (max-width: 500px) {
.container {
	width: 400px;
	}

}

/* AVATAR DESIGN */

.avatar {
	 width: 60px;
	 height: 60px;
	 border-radius: 50%;
}

/* PHOTO DESIGN */

.photo {
	 width: 200px;
	 height: auto;
}

/* BUTTON DESIGN */

.btn-blue {
	background-color: rgba(254, 205, 59, 1.0);
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

/* BANNER DESIGN */

.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0, 0,0, 0.2) 50%) , url(../images/background.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;

}

.banner h1 {
	font-size: 50px
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom:40px ;
}

/* CARD DESIGN */

.card {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content:space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2) ;
	border-radius: 6px;
	margin: 10px;
	flex-basis: 250px;
	flex-grow: 1;
}

.card img {
	width: 150px;
	border-radius: 6px;
}

.card h3 {
	flex-grow: 1;
	padding-left: 20px;
	font-size: 18px;

}

/* CARDS DESIGN */

.cards {
	display: flex;
	flex-wrap: wrap;
}